body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #008cff;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenido {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}